## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [52]:
#changing directories to access the WeatherPy_database.csv file
%cd ..

C:\Users\syedm\Documents\Data Bootcamp\World_Weather_Analysis

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Suez,EG,29.9737,32.5263,91.00,19,0,10.87,clear sky
1,1,Clyde River,CA,70.4692,-68.5914,34.03,100,90,12.66,overcast clouds
2,2,Haines Junction,CA,60.7522,-137.5108,44.55,93,81,2.30,broken clouds
3,3,Oktyabrskoye,RU,43.0645,44.7417,58.35,93,90,1.92,light rain
4,4,Nikolayevsk-Na-Amure,RU,53.1406,140.7300,40.60,95,100,4.70,overcast clouds

In [53]:
#returning to current directory
%cd Vacation_Search

C:\Users\syedm\Documents\Data Bootcamp\World_Weather_Analysis\Vacation_Search

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
5,5,Midland,US,31.9974,-102.0779,75.69,75,40,18.41,scattered clouds
6,6,Hermanus,ZA,-34.4187,19.2345,77.81,43,7,4.88,clear sky
7,7,Cape Town,ZA,-33.9258,18.4232,81.10,23,0,3.00,clear sky
8,8,Dwarka,IN,22.2394,68.9678,86.27,70,0,13.18,clear sky
11,11,Bom Jesus,BR,-9.0744,-44.3586,89.67,34,4,8.97,clear sky
13,13,Porto Velho,BR,-8.7619,-63.9039,87.85,62,0,2.30,clear sky
16,16,Vila Velha,BR,-20.3297,-40.2925,82.96,68,40,8.01,scattered clouds
18,18,Namatanai,PG,-3.6667,152.4333,79.70,84,100,6.76,overcast clouds
19,19,Albany,US,42.6001,-73.9662,84.63,55,65,1.99,broken clouds
26,26,Arraial Do Cabo,BR,-22.9661,-42.0278,82.36,61,0,12.66,clear sky

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        3
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
5,5,Midland,US,31.9974,-102.0779,75.69,75,40,18.41,scattered clouds
6,6,Hermanus,ZA,-34.4187,19.2345,77.81,43,7,4.88,clear sky
7,7,Cape Town,ZA,-33.9258,18.4232,81.10,23,0,3.00,clear sky
8,8,Dwarka,IN,22.2394,68.9678,86.27,70,0,13.18,clear sky
11,11,Bom Jesus,BR,-9.0744,-44.3586,89.67,34,4,8.97,clear sky
13,13,Porto Velho,BR,-8.7619,-63.9039,87.85,62,0,2.30,clear sky
16,16,Vila Velha,BR,-20.3297,-40.2925,82.96,68,40,8.01,scattered clouds
18,18,Namatanai,PG,-3.6667,152.4333,79.70,84,100,6.76,overcast clouds
19,19,Albany,US,42.6001,-73.9662,84.63,55,65,1.99,broken clouds
26,26,Arraial Do Cabo,BR,-22.9661,-42.0278,82.36,61,0,12.66,clear sky

In [29]:
clean_df.isnull().sum()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
5,Midland,US,75.69,scattered clouds,31.9974,-102.0779,
6,Hermanus,ZA,77.81,clear sky,-34.4187,19.2345,
7,Cape Town,ZA,81.10,clear sky,-33.9258,18.4232,
8,Dwarka,IN,86.27,clear sky,22.2394,68.9678,
11,Bom Jesus,BR,89.67,clear sky,-9.0744,-44.3586,
13,Porto Velho,BR,87.85,clear sky,-8.7619,-63.9039,
16,Vila Velha,BR,82.96,scattered clouds,-20.3297,-40.2925,
18,Namatanai,PG,79.70,overcast clouds,-3.6667,152.4333,
19,Albany,US,84.63,broken clouds,42.6001,-73.9662,
26,Arraial Do Cabo,BR,82.36,clear sky,-22.9661,-42.0278,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
5,Midland,US,75.69,scattered clouds,31.9974,-102.0779,DoubleTree by Hilton Hotel Midland Plaza
6,Hermanus,ZA,77.81,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Cape Town,ZA,81.10,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
8,Dwarka,IN,86.27,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
11,Bom Jesus,BR,89.67,clear sky,-9.0744,-44.3586,Hotel Brasão & Floricultura Bella Flor
13,Porto Velho,BR,87.85,clear sky,-8.7619,-63.9039,Hotel Central
16,Vila Velha,BR,82.96,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha
18,Namatanai,PG,79.70,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
19,Albany,US,84.63,broken clouds,42.6001,-73.9662,
26,Arraial Do Cabo,BR,82.36,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [45]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df[hotel_df['Hotel Name'].str.strip().astype(bool)]

clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
5,Midland,US,75.69,scattered clouds,31.9974,-102.0779,DoubleTree by Hilton Hotel Midland Plaza
6,Hermanus,ZA,77.81,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Cape Town,ZA,81.10,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
8,Dwarka,IN,86.27,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
11,Bom Jesus,BR,89.67,clear sky,-9.0744,-44.3586,Hotel Brasão & Floricultura Bella Flor
13,Porto Velho,BR,87.85,clear sky,-8.7619,-63.9039,Hotel Central
16,Vila Velha,BR,82.96,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha
18,Namatanai,PG,79.70,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
26,Arraial Do Cabo,BR,82.36,clear sky,-22.9661,-42.0278,Pousada Porto Praia
28,Cockburn Town,TC,79.93,clear sky,21.4612,-71.1419,Osprey Beach Hotel

In [47]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [54]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))